<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'availabledoctors')}">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="container-mydata container">
    <h1 th:text="#{account_patient_availabledoctors}">Available doctors</h1>
    <table class="table table-dark">
        <thead>

        </thead>
        <tbody>
        <th:block th:each="specialization : ${specializations}">
            <tr>
                <td><b><span th:text="${specialization.getName()}">Specialization</span></b></td>
                <td></td>
            </tr>
            <tr th:each="doctorspecialization : ${doctorspecializations}">
                    <span th:if="${doctorspecialization.getSpecialization().getDoctorSpecializations()==specialization.getDoctorSpecializations()}">
                    <td th:text="${doctorspecialization.getDoctor().getName()}">Name</td>
                    <td th:text="${doctorspecialization.getDoctor().getSurname()}">Surname</td>
                    </span>
            </tr>

        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>