<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'historyofvisits')}">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="container-mydata container">
    <h1 th:text="#{account_patient_historyofvisits}">History of visits</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"><b><span th:text="#{person_name}">Name</span></b></th>
            <th scope="col"><b><span th:text="#{person_surname}">Surname</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_date}">Date</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_diagnosis}">Diagnosis</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_recommendations}">Recommendations</span></b>
            </th>
            <th scope="col"><b><span th:text="#{account_historyofivists_state}">State</span></b></th>
            <th scope="col"><b><span th:text="#{account_historyofvisits_action}">Action</span></b></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits} ">
            <td th:text="${visit.getDoctor().getName()}">Name</td>
            <td th:text="${visit.getDoctor().getSurname()}">Surname</td>
            <td th:text="${visit.getDate()}">Date</td>
            <td th:text="${visit.getDiagnosis()}">Diagnosis</td>
            <td th:text="${visit.getRecommendations()}">Recommendations</td>
            <span th:if="${visit.isFinished()==false}">
                <td th:text="#{account_historyofvisits_active}">Active</td>
            <td><a th:href="@{'/myaccount/historyofvisits/deletevisit'(id=${visit.getId()})}">
                <span th:text="#{account_reception_delete}">Delete</span>
            </a></td>
            </span>
            <span th:if="${visit.isFinished()==true}">
                <td th:text="#{account_historyofvisits_finished}">Finished</td>
                <td></td>
            </span>
        </tr>
        </tbody>
    </table>

    <h1 th:text="#{account_historyofvisists_proposition}">Propositions of visits</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"><b><span th:text="#{person_name}">Name</span></b></th>
            <th scope="col"><b><span th:text="#{person_surname}">Surname</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_date}">Date</span></b></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proposedvisit : ${proposedvisits} ">
            <td th:text="${proposedvisit.getDoctor().getName()}">Name</td>
            <td th:text="${proposedvisit.getDoctor().getSurname()}">Surname</td>
            <td th:text="${proposedvisit.getDate()}">Date</td>
            <td><a th:href="@{'/myaccount/historyofvisits/deleteproposition'(id=${proposedvisit.getId()})}">
                <span th:text="#{account_reception_delete}">Delete</span>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>