<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'historyofvisits')}">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="container-mydata container-fluid">
    <h1>Historia wizyt</h1>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col"><b><span th:text="#{person_name_additional}">Name:</span></b></th>
            <th scope="col"><b><span th:text="#{person_surname_additional}">Surname:</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_date}">Date:</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_diagnosis}">Diagnosis:</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_recommendations}">Recommendations:</span></b></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits} ">
            <td th:text="${visit.getDoctor().getName()}">Name</td>
            <td th:text="${visit.getDoctor().getSurname()}">Surname</td>
            <td th:text="${visit.getDate()}">Date</td>
            <td th:text="${visit.getDiagnosis()}">Diagnosis</td>
            <td th:text="${visit.getRecommendations()}">Recommendations</td>
        </tr>
        </tbody>
    </table>

    <h1>Propozycje wizyt</h1>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col"><b><span th:text="#{person_name}">Name</span></b></th>
            <th scope="col"><b><span th:text="#{person_surname}">Surname</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_date}">Date</span></b></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proposedvisit : ${proposedvisits} ">
            <td th:text="${proposedvisit.getDoctor().getName()}"></td>
            <td th:text="${proposedvisit.getDoctor().getSurname()}"></td>
            <td th:text="${proposedvisit.getDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>