<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'addadmin')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">
    <h1 th:text="#{add_admin}">Add admin</h1>
    <form action="#" th:action="@{/myaccount/manageadmin/add}" th:object="${admin}" method="post">
        <div class="form-row">
            <div class="col">
                <label for="name"><span th:text="#{person_name}"></span></label>
                <input type="text"
                       class="form-control"
                       id="name"
                       th:field="*{name}"/>

                <label for="surname"><span th:text="#{person_surname}"></span></label>
                <input type="text"
                       class="form-control"
                       id="surname"
                       th:field="*{surname}"/>

                <label for="phonenumber"><span th:text="#{person_phonenumber}"></span></label>
                <input type="text"
                       class="form-control"
                       id="phonenumber"
                       th:field="*{phoneNumber}"/>

                <label for="pesel"><span th:text="#{person_pesel}"></span></label>
                <input type="text"
                       class="form-control"
                       id="pesel"
                       th:field="*{pesel}"/>

                <label for="address"><span th:text="#{person_address}"></span></label>
                <input type="text"
                       class="form-control"
                       id="address"
                       th:field="*{address}"/>

                <label for="username"><span th:text="#{login_username}"></span></label>
                <input type="text"
                       class="form-control"
                       id="username"
                       th:field="*{userAdministrator.username}"/>

                <label for="password"><span th:text="#{login_password}"></span></label>
                <input type="text"
                       class="form-control"
                       id="password"
                       th:field="*{userAdministrator.password}"/>


                <input type="submit" style="margin-top: 10px;" th:value="#{account_reception_add}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>