<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'manageadministration')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">
    <h1 th:text="#{account_manageadmin}">Manage administration</h1>
    <div class="table-responsive">
        <table class="table table-hover table-borderless">
            <thead>
            <tr>
                <th scope="col"><b><span th:text="#{person_lp}">LP</span></b></th>
                <th scope="col"><b><span th:text="#{person_name}">Name</span></b></th>
                <th scope="col"><b><span th:text="#{person_surname}">Surname</span></b></th>
                <th scope="col"><b><span th:text="#{person_pesel}">Surname</span></b></th>
                <th scope="col"><b><span th:text="#{person_details}">Details</span></b></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="admin, iStats : ${admins}">
                <td th:scope="row" th:text="${iStats.index+1} + '.'">Each id</td>
                <td th:text="${admin.getName()}">Doctor name</td>
                <td th:text="${admin.getSurname()}">Doctor surname</td>
                <td th:text="${admin.getPesel()}">Doctor pesel</td>
                <td><a th:href="@{'/myaccount/manageadmin/admins'(id=${admin.getId()})}">
                    <span th:text="#{person_show}">Show</span>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" th:href="@{'/myaccount/manageadmin/add'}" role="button" th:text="#{account_reception_add}">Add</a>
</div>
</body>
</html>