<!DOCTYPE html>
<html th:fragment="layout (template, menu)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">eSTOMATOLOGIA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    <link href="../../static/css/style_login.css" th:href="@{/css/style_login.css}" rel="stylesheet"/>
    <link href="../../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
    <link rel="icon" href="../../static/img/eSTOMATOLOGIA_icon.png" th:href="@{/img/eSTOMATOLOGIA_icon.png}" />
</head>
<body>
<div id="app_content">
    <div class="container-fluid">
        <header>
            <div class="row headerRow">
                <div class="d-flex justify-content-center align-items-center col-12 col-sm-12 col-xl-2">
                    <img src="../../static/img/estomatologiaLogo.png" th:src="@{/img/estomatologiaLogo.png}"
                         class="img-fluid " alt="logo"/>
                </div>
                <div class="d-flex justify-content-center align-items-center col-12 col-sm-12 col-xl-2">
                    <a href="?lang=pl"><img id="pl" src="../../static/img/pl.png"
                                            th:src="@{/img/pl.png}" class="header__img--icon img-fluid" alt="pl"/></a>
                    <a href="?lang=en"><img id="en" src="../../static/img/eng.png"
                                            th:src="@{/img/eng.png}" class="header__img--icon img-fluid" alt="eng"/></a>
                </div>
                <div class="navmenu col-12 col-sm-12 col-xl-4">
                    <nav class="navbar">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/"><span th:text="#{header.menu.option1}"></span></a>
                            <a class="nav-item nav-link" href="/services"><span th:text="#{header.menu.option2}"></span></a>
                            <a class="nav-item nav-link" href="/tariff"><span th:text="#{header.menu.option3}"></span></a>
                            <a class="nav-item nav-link" href="/contact"><span th:text="#{header.menu.option4}"></span></a>
                        </div>
                    </nav>
                </div>
                <div class="d-flex justify-content-center align-items-center col-6 col-sm-6 col-xl-2">
                    <div sec:authorize="!isAuthenticated()">
                        <button type="button" onclick="location.href='/login';" class="btn" th:text="#{header.login}">
                            Login
                        </button>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <button type="button" onclick="location.href='/myaccount';" class="btn"
                                th:text="#{header.account}">My account
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center col-6 col-sm-6 col-xl-2">
                    <div sec:authorize="!isAuthenticated()">
                        <button type="button" onclick="location.href='/register';" class="btn"
                                th:text="#{header.register}">Register
                        </button>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                      <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn" th:value="#{header.logout}" value="Logout">
                         </form>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <th:block th:include="${template}"/>
        </main>
        <footer id="footer">
            <div class="row fixed-bottom">
                <div class="col-12 col-sm-12">
                    <div class="d-flex justify-content-center align-items-center col-12 col-12">
                        <div class="footer--text"><p th:text="#{footer.text}"></p></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>