header{
    margin: 0;
    font-family: 'Livvic', sans-serif;
}

table{
    border: 1px solid gray;
}

.headerRow{
    background: rgb(41,173,41);
    background: linear-gradient(180deg, rgba(41,173,41,1) 0%, rgba(34,139,34,1) 100%);
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu{
    list-style: none;
}

header a,
header a:active,
header a:link{
    text-decoration: none;
    color: #FFFFFF;
}

header a:hover{
    color: chocolate;
}

.header__img--icon{
    margin: 5px;
    transition-duration: 1s;
}

.header__img--icon:hover{
    box-shadow: 1px 1px 10px #3B3B3B;
    transition-duration: 1s;
}


header .navbar{
    display: flex;
    justify-content: center;
    align-content: center;

}

.btn{
    background: #3B3B3B;
    border: 0;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.btn:hover{
    background: rgb(80, 80, 80);
    transition-duration: 0.5s;
    color: #FFFFFF;
}


.footer--text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #228b22;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    width: 80%;

}

.footer--text p{
    margin: 0;
}



.container-mydata{
    margin: 20px auto 0;
}

.container-account{
    margin: 50px 0;
}

.container-account div{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.welcome{
    display: flex;
    flex-direction: row !important;
    padding: 10px;
    font-size: 20px;
}

.welcome b{
    margin-left: 5px;
}


.navmenu{
    display: flex;
    justify-content:center;
    align-items: center;
}

.navbar-nav{
    flex-direction: column;
}

.nav-item{
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.container{
    margin-bottom: 50px;
}


input{
    border-radius: 10px;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)  {

}

/*  Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)  {

    .navmenu{
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-item{
        padding: 5px;
        margin: 5px;
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)  {

    .navmenu{
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-item{
        padding: 5px;
        margin: 5px;
        text-align: center;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .navmenu{
        display: flex;
        justify-content:left;
        align-items: center;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-item{
        padding: 5px;
        margin: 5px;
        text-align: center;
    }

}

/*  Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)  {

    .navmenu{
        display: flex;
        justify-content:left;
        align-items: center;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-item{
        padding: 5px;
        margin: 5px;
        text-align: center;
    }

    .nav-item p{
        display: flex;
        margin: 0 !important;
        align-content: center;
        align-self: center;
        align-items: center;
    }

    .container-account div{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .container-account div a{
        margin: 5px;
    }



}

#sectionOne{
    background: url("../img/img1.jpeg");
    background-size: cover;
    padding: 300px;
    text-align: center;
}

#sectionTwo {
    background: url("../img/img2.png");
    background-size: cover;
    padding: 250px;
    color: #ffffff;
}

#sectionTwo_icons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#sectionTwo_icons > .shorticon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 100%;
    border: 1px solid #ffffff;
    margin: 10px;
    border-radius: 10px;
}





/* Mobile */



@media only screen and (max-width: 1000px){

    #sectionOne{
        padding: 150px;
        text-align: center;
    }

    #sectionTwo {
        padding: 80px;
        color: #ffffff;
    }

    #sectionTwo_icons > .shorticon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #ffffff;
        margin: 10px;
        border-radius: 10px;
    }

    #sectionTwo_icons > .shorticon > img{
        height: 60px;
        width: 50px;
    }
}

@media only screen and (max-width: 850px){


    #sectionOne{
        padding: 150px;
    }

    #sectionTwo {
        padding: 80px;
    }
}


@media only screen and (max-width: 800px){

    #header_left{
        flex-direction: column;
    }
    #header_right{
        padding: 15px;
    }
    #sectionOne{
        padding: 60px;
        text-align: center;
    }

    #sectionTwo_icons > .shorticon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #ffffff;
        margin: 10px;
        border-radius: 10px;
    }
}