<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'calendarofvisits')}"
>
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/style_login.css" th:href="@{../../static/css/style_login.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-calendarofvisits container-fluid">
    <h1 th:text="#{account_calendarofvisits}">Calendar of visits</h1>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col"><b><span th:text="#{person_name}">Name</span></b></th>
            <th scope="col"><b><span th:text="#{person_surname}">Surname</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_date}">Date</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_diagnosis}">Diagnosis</span></b></th>
            <th scope="col"><b><span th:text="#{account_patient_historyofivists_recommendations}">Recommendations</span></b>
            </th>
            <th scope="col"><b><span th:text="#{account_historyofivists_state}">State</span></b></th>
            <th scope="col"><b><span th:text="#{account_historyofvisits_action}">Action</span></b></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits} ">
            <td th:text="${visit.getDoctor().getName()}">Name</td>
            <td th:text="${visit.getDoctor().getSurname()}">Surname</td>
            <td th:text="${visit.getDate()}">Date</td>
            <td th:text="${visit.getDiagnosis()}">Diagnosis</td>
            <td th:text="${visit.getRecommendations()}">Recommendations</td>
            <span th:if="${visit.isFinished()==false}">
                <td th:text="#{account_historyofvisits_active}">Aktywna</td>
            <td><a th:href="@{'/myaccount/calendarofvisits/deletevisit'(id=${visit.getId()})}">
                <span th:text="#{account_reception_delete}">Delete</span>
            </a></td>
            </span>
            <span th:if="${visit.isFinished()==true}">
                <td th:text="#{account_historyofvisits_finished}">Zakończona</td>
                 <td><a th:href="@{'/myaccount/calendarofvisits/deletevisit'(id=${visit.getId()})}">
                <span th:text="#{account_reception_delete}">Delete</span>
            </a></td>
            </span>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>