<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'mydata')}">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="container-mydata container-fluid">
    <table class="table table-dark">
        <thead>
        <tr>
            <th><b><span th:text="#{account_mydata}">My data</span></b></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b><span th:text="#{person_name_additional}">Name:</span></b></td>
            <td><span th:text="${account.getName()}">Name</span></td>
        </tr>
        <tr>
            <td><b><span th:text="#{person_surname_additional}">Surname:</span></b></td>
            <td><span th:text="${account.getSurname()}">Surname</span></td>
        </tr>
        <tr>
            <td><b><span th:text="#{person_pesel_additional}">Pesel:</span></b></td>
            <td><span th:text="${account.getPesel()}">Pesel</span></td>
        </tr>
        <tr>
            <td><b><span th:text="#{person_phonenumber_additional}">Phone number:</span></b></td>
            <td><span th:text="${account.getPhoneNumber()}">Phone number</span></td>
        </tr>
        <tr>
            <td><b><span th:text="#{person_address_additional}">Address:</span></b></td>
            <td><span th:text="${account.getAddress()}">Address</span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>