<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (~{::body},'mydata')}">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="container-mydata container">
    <h1 th:text="#{account_mydata}">My data</h1>
    <table class="table table-hover">
        <tbody>
        <tr>
            <td><b><span th:text="#{person_name_additional}">Name:</span></b></td>
            <td><span th:text="${account.getName()}">Name</span></td>
        </tr>
        <tr>
            <td><b><span th:text="#{person_surname_additional}">Surname:</span></b></td>
            <td><span th:text="${account.getSurname()}">Surname</span></td>
        </tr>
        <tr>
            <td><b><span th:text="#{person_pesel_additional}">Pesel:</span></b></td>
            <td><span th:text="${account.getPesel()}">Pesel</span></td>
        </tr>
        <tr>
            <td><b><span th:text="#{person_phonenumber_additional}">Phone number:</span></b></td>
            <td><span th:text="${account.getPhoneNumber()}">Phone number</span></td>
        </tr>
        <tr>
            <td><b><span th:text="#{person_address_additional}">Address:</span></b></td>
            <td><span th:text="${account.getAddress()}">Address</span></td>
        </tr>
        </tbody>
    </table>
    <span sec:authorize=" hasRole('ADMIN')">
    <a class="btn btn-primary" th:href="@{'/mydata/editadmindata'}" role="button" th:text="#{account_reception_edit}">Edit</a>
    </span>
</div>

</body>
</html>