<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<head>
    <meta charset="UTF-8">
</head>

<body>

<section id="sectionOne">
    <h1>eSTOMATOLOGIA</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptas totam vero a nisi tenetur
        possimus commodi, harum exercitationem itaque.</p>
</section>
<section id="sectionTwo">
    <div id="sectionTwo_description">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id quod laborum earum fuga recusandae,
            explicabo aspernatur incidunt similique dolores rerum ab minus enim sed quia eos labore vero
            provident sapiente corporis ex quidem obcaecati? Odio tempore ratione animi ducimus soluta
            incidunt autem officiis dolorem et nihil placeat nemo dolores quaerat, mollitia natus, nobis
            quae aperiam nisi amet nulla. Necessitatibus rem dolore non earum ipsum ipsam quis repellendus
            alias commodi officia! Incidunt, nulla perferendis, consequuntur error quibusdam aliquam rerum
            corporis eaque optio explicabo voluptas pariatur animi adipisci placeat neque eligendi dolorem,
            culpa ea. Consequatur molestiae iste sit et. Sequi, vel molestiae.</p>
    </div>
    <div id="sectionTwo_icons">
        <div class="shorticon">
            <img src="img/Icon map-dentist.png" th:src="@{/img/Icon map-dentist.png}"/>
            <p>Lorem ipsum</p>
        </div>
        <div class="shorticon">
            <img src="img/Icon map-doctor.png" th:src="@{/img/Icon map-doctor.png}" />
            <p>Lorem ipsum</p>
        </div>
    </div>
</section>
</body>
</html>