<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="row">
    <div class="dentist-section1">
        <h1>eStomatologia</h1>
        <p th:text="#{indexMainDesc}" style="text-shadow: 1px 1px 2px black; color: #FFFFFF;"></p>
    </div>
    <div class="dentist-section2">
        <div><span th:text="#{nice}"></span></div>
        <div><span th:text="#{fast}"></span></div>
        <div><span th:text="#{international}"></span></div>
    </div>
    <div class="dentist-section3">
        <div class="dentist-section3-block">
            <h1 th:text="#{indexBestTool}"></h1>
            <p th:text="#{indexBestToolDesc}"></p>
        </div>
    </div>
    <div class="dentist-section4">

        <div class="dentist-section4-block">
            <h1>eSTOMATOLOGIA</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam, nibh nec ultricies sagittis,
                sapien lacus rhoncus eros, ullamcorper bibendum metus diam ac ex. Donec nisi risus, efficitur vitae
                ipsum
                in, auctor sodales arcu. Aliquam ultricies placerat justo non auctor. Donec sed arcu egestas, aliquet
                nunc
                in, varius leo. Suspendisse potenti. Mauris aliquet aliquam urna, laoreet efficitur velit varius sed.
                Phasellus cursus urna rhoncus enim cursus, ut dignissim quam luctus.</p>
        </div>


    </div>
</div>
</body>
</html>