<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'success')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <span th:text="#{success_text}">Successful! You will be redirected in a moment.</span>
</div>

<script>
    var message = "[[${success}]]";
    setTimeout(function () {
        if (message === "medicament") {
            window.location.href = 'http://localhost:8080/myaccount/managemedicament';
        }else if (message === "equipment") {
            window.location.href = 'http://localhost:8080/myaccount/manageequipment';
        } else if (message === "proposedvisit") {
            window.location.href = 'http://localhost:8080/myaccount/historyofvisits';
        }
    }, 3000);
</script>
</body>
</html>