<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (~{::body},'addprescription')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">

    <h1 th:text="#{add_prescription}">Add</h1>

    <form action="#" th:action="@{'/myaccount/calendarofvisits/addprescription'(id=${visit})}" style="width: 50%; margin-left: auto; margin-right: auto;" th:object="${prescription}" method="post">

        <label for="diag1"><span th:text="#{branchOfNfz}"></span></label>
        <input type="text"
               class="form-control"
               id="diag1"
               th:field="*{branchOfNFZ}"/>

        <label for="diag2"><span th:text="#{clinicName}"></span></label>
        <input type="text"
               class="form-control"
               id="diag2"
               th:field="*{clinicName}"/>

        <label for="diag3"><span th:text="#{nameOfMedicament}"></span></label>
        <input type="text"
               class="form-control"
               id="diag3"
               th:field="*{medicaments}"/>


        <button type="submit" class="btn btn-primary" style="margin-top: 10px;" th:text="#{account_reception_add}">Add</button>
    </form>

</div>
</body>
</html>