<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'availablemedicaments')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">
    <h1>Available medicaments</h1>
    <table class="table table-dark">
        <tbody>
        <tr th:each="medicament : ${medicaments} ">
            <td th:text="${medicament.name}">Medicaments</td>
            <td th:text="${medicament.number}">0</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>