<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (~{::body},'editrecommendations')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">

    <h1 th:text="#{edit_recommendations}">Edit diagnosis</h1>
    <form action="#"  th:action="@{'/myaccount/calendarofvisits/editrecommendations'(id=${visit.getId()})}" style="width: 50%; margin-left: auto; margin-right: auto;" th:object="${visit}" method="post">

        <label for="diag1"><span th:text="#{account_patient_historyofivists_recommendations}"></span></label>
        <input type="text"
               class="form-control"
               id="diag1"
               th:field="*{recommendations}"/>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;" th:text="#{edit_recommendations}">Edit recommendations</button>
    </form>
</div>
</body>
</html>