<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'mypatients')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container-fluid">
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col"><b><span th:text="#{person_name}">Name</span></b></th>
            <th scope="col"><b><span th:text="#{person_surname}">Surname</span></b></th>
            <th scope="col"><b><span th:text="#{person_phonenumber}">Phone number</span></b></th>
            <th scope="col"><b><span th:text="#{person_pesel}">PESEL</span></b></th>
            <th scope="col"><b><span th:text="#{person_address}">Address</span></b></th>
            <th scope="col"><b><span th:text="#{account_doctor_mypatients_chronic_diseases}">Chronic diseases</span></b></th>
            <th scope="col"><b><span th:text="#{account_doctor_mypatients_medicaments}">Medicaments taken permamently</span></b></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients} ">
            <td th:text="${patient.getPatient().getName()}">Patient name</td>
            <td th:text="${patient.getPatient().getSurname()}">Patient surname</td>
            <td th:text="${patient.getPatient().getPhoneNumber()}">Patient phone number</td>
            <td th:text="${patient.getPatient().getPesel()}">Patient pesel</td>
            <td th:text="${patient.getPatient().getAddress()}">Patient address</td>
            <td th:text="${patient.getPatient().getChronicDiseases()}">Patient chronic diseases</td>
            <td th:text="${patient.getPatient().getMedicamentsTakenPermamently()}">Patient medicaments taken permamently</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>