<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'mypatients')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">
    <h1 th:text="#{account_doctor_mypatients}">My patients</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"><b><span th:text="#{person_name}">Name</span></b></th>
            <th scope="col"><b><span th:text="#{person_surname}">Surname</span></b></th>
            <th scope="col"><b><span th:text="#{person_phonenumber}">Phone number</span></b></th>
            <th scope="col"><b><span th:text="#{person_pesel}">PESEL</span></b></th>
            <th scope="col"><b><span th:text="#{person_address}">Address</span></b></th>
            <th scope="col"><b><span th:text="#{account_doctor_mypatients_chronic_diseases}">Chronic diseases</span></b></th>
            <th scope="col"><b><span th:text="#{account_doctor_mypatients_medicaments}">Medicaments taken permamently</span></b></th>
            <th scope="col"><b><span
                th:text="#{action_chronic_diseases}">Chronic diseases - action</span></b></th>
            <th scope="col"><b><span
                    th:text="#{action_mtp}">Medicaments taken permanently - action</span></b></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients} ">
            <td th:text="${patient.getPatient().getName()}">Patient name</td>
            <td th:text="${patient.getPatient().getSurname()}">Patient surname</td>
            <td th:text="${patient.getPatient().getPhoneNumber()}">Patient phone number</td>
            <td th:text="${patient.getPatient().getPesel()}">Patient pesel</td>
            <td th:text="${patient.getPatient().getAddress()}">Patient address</td>
            <td th:text="${patient.getPatient().getChronicDiseases()}">Patient chronic diseases</td>
            <td th:text="${patient.getPatient().getMedicamentsTakenPermamently()}">Patient medicaments taken permamently</td>
            <td>
                <a th:href="@{'/myaccount/mypatients/addchronicdiseases'(id=${patient.getPatient().getId()})}">
                    <span th:text="#{account_reception_add}">Add</span>
                </a>
                /
                <a th:href="@{'/myaccount/mypatients/editchronicdiseases'(id=${patient.getPatient().getId()})}">
                    <span th:text="#{account_reception_edit}">Edit</span>
                </a>
                /
                <a th:href="@{'/myaccount/mypatients/deletechronicdiseases'(id=${patient.getPatient().getId()})}">
                    <span th:text="#{account_reception_delete}">Delete</span>
                </a>
            </td>
            <td>
                <a th:href="@{'/myaccount/mypatients/addmtp'(id=${patient.getPatient().getId()})}">
                    <span th:text="#{account_reception_add}">Add</span>
                </a>
                /
                <a th:href="@{'/myaccount/mypatients/editmtp'(id=${patient.getPatient().getId()})}">
                    <span th:text="#{account_reception_edit}">Edit</span>
                </a>
                /
                <a th:href="@{'/myaccount/mypatients/deletemtp'(id=${patient.getPatient().getId()})}">
                    <span th:text="#{account_reception_delete}">Delete</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>