<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body},'createdvisits')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">
    <h1 th:text="#{account_receptionist_createdvisits}">Created visits</h1>
    <div class="table-responsive">
        <table class="table table-hover table-borderless">
            <thead>
            <th th:scope="col"><b><span th:text="#{account_patient_historyofivists_date}">Date</span></b></th>
            <th th:scope="col"><b><span th:text="#{hour}">Hour</span></b></th>
            <th th:scope="col"><b><span th:text="#{patient_name}">Patient's name</span></b></th>
            <th th:scope="col"><b><span th:text="#{patient_surname}">Patient's surname</span></b></th>
            <th th:scope="col"><b><span th:text="#{person_pesel}">Patient's pesel</span></b></th>
            <th th:scope="col"><b><span th:text="#{person_address}">Address</span></b></th>
            <th th:scope="col"><b><span th:text="#{doctor_name}">Doctor's name</span></b></th>
            <th th:scope="col"><b><span th:text="#{doctor_surname}">Doctor's surname</span></b></th>
            <th th:scope="col"><b><span th:text="#{person_pesel}">Doctor's pesel</span></b></th>
            <th th:scope="col"><b><span th:text="#{account_historyofvisits_action}">Action</span></b></th>
            </thead>
            <tbody>
            <tr th:each="proposedVisit : ${proposedVisits}">
                <td th:text="${proposedVisit.getDate()}"></td>
                <td th:text="${proposedVisit.getDate()}"></td>
                <td th:text="${proposedVisit.getPatient().getName()}"></td>
                <td th:text="${proposedVisit.getPatient().getSurname()}"></td>
                <td th:text="${proposedVisit.getPatient().getPesel()}"></td>
                <td th:text="${proposedVisit.getPatient().getAddress()}"></td>
                <td th:text="${proposedVisit.getDoctor().getName()}"></td>
                <td th:text="${proposedVisit.getDoctor().getSurname()}"></td>
                <td th:text="${proposedVisit.getDoctor().getPesel()}"></td>
                <td><a th:href="@{'/myaccount/createdvisits/add'(id=${proposedVisit.getId()})}">
                    <span th:text="#{account_reception_add}">Add</span>
                </a>
                    /
                <a th:href="@{'/myaccount/createdvisits/delete'(id=${proposedVisit.getId()})}">
                    <span th:text="#{account_reception_delete}">Delete</span>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>