<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body},'doctordetails')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">
    <h1 th:text="#{account_receptionist_doctordetails}">Doctor details</h1>
    <div class="table-responsive">
        <table class="table table-dark table-hover table-borderless">
            <thead>
            <tr>
                <th th:scope="col"><b><span th:text="#{account_reception_doctordetails_details}">Doctor's data</span></b></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b><span th:text="#{person_name_additional}">Name:</span></b></td>
                <td th:text="${doctor.get().getName()}">Doctor's name</td>
            </tr>
            <tr>
                <td><b><span th:text="#{person_surname_additional}">Surname:</span></b></td>
                <td th:text="${doctor.get().getSurname()}">Doctor's surname</td>
            </tr>
            <tr>
                <td><b><span th:text="#{person_address_additional}">Address:</span></b></td>
                <td th:text="${doctor.get().getAddress()}">Doctor's address</td>
            </tr>
            <tr>
                <td><b><span th:text="#{person_phonenumber_additional}">Phone number:</span></b></td>
                <td th:text="${doctor.get().getPhoneNumber()}">Doctor's phone number</td>
            </tr>
            <tr th:each="specialization : ${specializations}">
                <span th:if="${specialization.getDoctor().getDoctorSpecializations()==doctor.get().getDoctorSpecializations()}">
                        <td><b><span th:text="#{account_reception_doctordetails_specialization} + ${specialization.getLicense()} + ':'">Address:</span></b></td>
                        <td th:text="${specialization.getSpecialization().getName()}">Doctor's specialization</td>
                </span>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>