<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'doctors')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">
    <h1 th:text="#{account_receptionist_doctors}">Doctors</h1>
    <div class="table-responsive">
        <table class="table table-dark table-hover table-borderless">
            <thead>
            <tr>
                <th scope="col"><b><span th:text="#{person_lp}">LP</span></b></th>
                <th scope="col"><b><span th:text="#{person_name}">Name</span></b></th>
                <th scope="col"><b><span th:text="#{person_surname}">Surname</span></b></th>
                <th scope="col"><b><span th:text="#{person_pesel}">Surname</span></b></th>
                <th scope="col"><b><span th:text="#{person_details}">Details</span></b></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor, iStats : ${doctors}">
                <td th:scope="row" th:text="${iStats.index+1} + '.'">Each id</td>
                <td th:text="${doctor.getName()}">Doctor name</td>
                <td th:text="${doctor.getSurname()}">Doctor surname</td>
                <td th:text="${doctor.getPesel()}">Doctor pesel</td>
                <td><a th:href="@{'/myaccount/doctors/doctordetails'(id=${doctor.getId()})}">
                    <span th:text="#{person_show}">Show</span>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>