<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'mypatients')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container-fluid">
    <div class="table-responsive">
        <table class="table table-dark table-hover table-borderless">
            <thead>
            <tr>
                <th scope="col"><b><span th:text="#{person_lp}">LP</span></b></th>
                <th scope="col"><b><span th:text="#{person_name}">Name</span></b></th>
                <th scope="col"><b><span th:text="#{person_surname}">Surname</span></b></th>
                <th scope="col"><b><span th:text="#{account_reception_doctors_details}">Details</span></b></th>
                <!--            TODO DODAC COS W STYLU PADDINGU LUB MARGINU DO CALEGO DIVA Z MAINEM TAK ZEBY FOOTER NIE NAJEZDZAL PO ZMIENIEJSZENIU EKRANU-->
                <!--            TODO ZROBIC TABELE RESPONSYWNA-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor, iStats : ${doctors}">
                <td th:scope="row" th:text="${iStats.index+1} + '.'">Patient name</td>
                <td th:text="${doctor.getName()}">Patient name</td>
                <td th:text="${doctor.getSurname()}">Patient surname</td>
                <td><a th:href="@{'/myaccount/doctors/doctordetails'(id=${doctor.getId()})}">
                    <span th:text="#{account_reception_doctors_show}">Show</span>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>