<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'managemedicaments')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">
    <h1 th:text="#{account_receptionist_managemedicaments}">Manage medicaments</h1>
    <div class="table-responsive">
        <table class="table table-dark table-hover table-borderless">
           <tbody>
           <tr th:each="medicament : ${medicaments}">
               <td th:text="${medicament.getName()}">Medicament Name</td>
               <td th:text="${medicament.getNumber()}">Medicament Number</td>
               <td><a th:href="@{'/myaccount/managemedicament/edit'(id=${medicament.getId()})}">
                   <span th:text="#{account_reception_edit}">Edit</span>
               </a></td>
               <td><a th:href="@{'/myaccount/managemedicament/delete'(id=${medicament.getId()})}">
                   <span th:text="#{account_reception_delete}">Delete</span>
               </a></td>
           </tr>
           </tbody>
        </table>
    </div>
    <a class="btn btn-primary" th:href="@{/myaccount/managemedicament/add}" role="button" th:text="#{account_reception_add}">Add</a>
</div>
</body>
</html>