<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'mypatients')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">
    <h1>Patients</h1>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col"><b><span th:text="#{person_lp}">LP</span></b></th>
            <th scope="col"><b><span th:text="#{person_name}">Name</span></b></th>
            <th scope="col"><b><span th:text="#{person_surname}">Surname</span></b></th>
            <th scope="col"><b><span th:text="#{person_pesel}">Pesel</span></b></th>
            <th scope="col"><b><span th:text="#{person_details}">Details</span></b></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient, iStats: ${patients} ">
            <td th:scope="row" th:text="${iStats.index+1} + '.'">Each id</td>
            <td th:text="${patient.getName()}">Patient name</td>
            <td th:text="${patient.getSurname()}">Patient surname</td>
            <td th:text="${patient.getPesel()}">Patient pesel</td>
            <td><a th:href="@{'/myaccount/patients/patientdetails'(id=${patient.getId()})}">
            <span th:text="#{person_show}">Show</span>
        </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>