<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'visitforpatient')}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-mydata container">
    <h1 th:text="#{account_patient_makevisit}">Make visit appointment</h1>
    <form action="#" th:action="@{/myaccount/visitforpatient}" th:object="${visit}" method="post">

        <div class="form-group">
            <label for="exampleFormControlSelect1">Select a patient</label>
            <select class="form-control" id="exampleFormControlSelect" th:field="*{patient.id}" >
                <option th:each="patientt : ${patients}" th:value="${patientt.id}">
                    <span th:text="${patientt.getName()}" ></span>
                    <span th:text="${patientt.getSurname()}" ></span>
                    <span th:text="' PESEL: ' + ${patientt.getPesel()}" ></span>
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="start">Select date</label>
            <input type="date" id="start" name="trip-start" th:field="*{date}"
                   th:value="${actuallydate}"
                   min="2018-01-01" max="2023-12-31">
        </div>
        <div class="form-group">
            <label for="appt">Select time</label>
            <input type="time" id="appt" name="appt"
                   min="09:00" max="18:00" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select a doctor</label>
            <select class="form-control" id="exampleFormControlSelect1" th:field="*{doctor.id}" >
                <option th:each="doctorr : ${doctors}" th:value="${doctorr.id}">
                    <span th:text="${doctorr.getName()}" ></span>
                    <span th:text="${doctorr.getSurname()}" ></span></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>